/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  #root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(0, 0%, 42%);
    --grey-950: hsl(0, 0%, 7%);
    --blue: hsl(228, 45%, 44%);
  }

  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 300 to 900
  
  .figtree-regular {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .figtree-medium {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: normal;
  }
  .figtree-exb {
font-family: "Figtree", sans-serif;
font-optical-sizing: auto;
font-weight: 800;
font-size: normal;
  }

  .attribution {
    font-size: 0.688em;
    text-align: center;
    font-family: 'figtree-regular', Figtree, sans-serif;
  }

  .attribution a{
    color: var(--blue);
    text-decoration: double;
  }

